extends ../layout/index

block contenido
    .row.row-cols-2.row-cols-md-3.g-4.py-4.px-2
        .col
          .card 
            img.card-img-top(src='/img/pexelsmac.jpg' alt='pc')
            .card-body
              h5.card-title Card title
              p.card-text| This is a longer card
               
        .col
          .card
            img.card-img-top(src='/img/pexelsmac.jpg' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text| This is a longer card 
        .col
          .card
            img.card-img-top(src='/img/pexelsmac.jpg' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text| This is a longer card 
        .col
          .card
            img.card-img-top(src='/img/pexelsmac.jpg' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text| This is a longer card