extends ../layout/index

block contenido


  body
  header#header.header
    img.logo(src='../img/logo3.jpg')
    .container
      .row
        .four.columns
          
            .two.columns.u-pull-right
              ul
                li.submenu
                    img#img-carrito(src='../img/cart.png')
                    #carrito
                        table#lista-carrito.u-full-width
                          thead
                            tr
                              th Imagen
                              th Nombre
                              th Precio
                              th Cantidad
                              th
                          tbody
                        table
                         
                        a#vaciar-carrito.button.u-full-width(href='#') Vaciar Carrito


  #hero
    .container
      .row
          .six.columns
            .contenido-hero
                 
                form#busqueda.formulario(action='#', method='post')
                  input#buscador.u-full-width(type='text', placeholder='Productos Internacionales Premium')
                  input#submit-buscador.submit-buscador(type='submit')
  .barra
    .container
   
                  
                            
                  
          #lista-productos.container
          h1#encabezado.encabezado Catalogo de Productos
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/bourbon.jpg')
                  .info-card
                    h4 Bourbon Clarkes 1866
                   
                    p.precio
                      | $500  
                      span.u-pull-right $400
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='1') Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/ajedrez.jpg')
                  .info-card
                    h4 Juego Ajedrez Ruso. Año 1785. Piezas de Marfil
                   
                    p.precio
                      | $18000 
                      span.u-pull-right $15000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='2') Comprar
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/rolex.jpg')
                  .info-card
                    h4 Rolex Duque oro 24K 12 diamantes
                  
                    p.precio
                      | $65000  
                      span.u-pull-right $60000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='3') Comprar
                // .card
            // .row
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/harley.jpg')
                  .info-card
                    h4 Moto Harley Davidson 48 th. 750 cc 2019
                   
                    p.precio
                      | $48000  
                      span.u-pull-right $45000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='4') Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/violin1.jpg')
                  .info-card
                    h4 Violin Stradivarius Dancla 150 years (Unico)
                    
                    p.precio
                      | $55000  
                      span.u-pull-right $50000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='5') Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/mesapool.jpg')
                  .info-card
                    h4 Mesa de Pool Inglesa
                   
                    p.precio
                      | $10000  
                      span.u-pull-right $7000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='6') Comprar
                // .card
            // .row
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/golf.jpg')
                  .info-card
                    h4 Set de Golf Completo
                   
                    p.precio
                      | $4500  
                      span.u-pull-right $4000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='7') Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/gibson.jpg')
                  .info-card
                    h4 Guitarra Gibson Lespole Exclusive
                    
                    p.precio
                      | $3000  
                      span.u-pull-right $2750
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='8')  Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/tvled.jpg')
                  .info-card
                    h4 Tv Oled 8k 65" Lg Super Ten Cores
                    
                    p.precio
                      | $2100  
                      span.u-pull-right $1900
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='9') Comprar
                // .card
            // .row
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/imac6.jpg')
                  .info-card
                    h4 Pc Imac 6 Pro
                    
                    p.precio
                      | $1800  
                      span.u-pull-right $1600
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='10') Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/camaraCanon.jpg')
                  .info-card
                    h4 Camara Cannon Extreme Supershot 990  
                    
                    p.precio
                      | $1200 
                      span.u-pull-right $1000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='11') Comprar
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/iphonex.jpg')
                  .info-card
                    h4 100 Smartphone Apple X 
                    
                    p.precio
                      | $800  
                      span.u-pull-right $650
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='12') Comprar
                // .card
            // .row
          footer#footer.footer
            .container
              .row
                .four.columns
                  nav#principal.menu
                    a.enlace(href='#') Garantias
                    a.enlace(href='#') Centro de Reclamos
                    a.enlace(href='#') Entregas
                    a.enlace(href='#') Metodos de Pagos
                    a.enlace(href='#') Atencion las 24 hs.
                .four.columns
                  nav#secundaria.menu
                    a.enlace(href='#') ¿Quienes Somos?
                    a.enlace(href='#') Contactos
                    a.enlace(href='#') Blog
          script(src=" ../public/js/app.js") 