extends ../layout/index

block contenido


  body
          header#header.header
            .container
          .row
            .four.columns
          
              .two.columns.u-pull-right
                ul
                  li.submenu
                    img#img-carrito(src='../img/cart.png')
                    #carrito
                      table#lista-carrito.u-full-width
                        thead
                          tr
                            th Imagen
                            th Nombre
                            th Precio
                            th Cantidad
                            th
                        tbody
                          a#vaciar-carrito.button.u-full-width(href='#') Vaciar Carrito


          #hero
            .container
              .row
                .six.columns
                  .contenido-hero
                    h2 Aprende algo nuevo
                    p Todos los cursos a $15
                    form#busqueda.formulario(action='#', method='post')
                      input#buscador.u-full-width(type='text', placeholder='¿Que te gustaría Aprender?')
                      input#submit-buscador.submit-buscador(type='submit')
          .barra
            .container
              .row
                .four.columns.icono.icono1
                  p
                    | 20,000 Cursos en linea 
                    
                    Explora  los temas mas recientes
                .four.columns.icono.icono2
                  p
                    | Instructores Expertos 
                    
                    Aprende con distintos estilos
                .four.columns.icono.icono3
                  p
                    | Acceso de por vida 
                    
                    Aprende a tu ritmo
          #lista-cursos.container
            h1#encabezado.encabezado Cursos En Linea
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/curso1.jpg')
                  .info-card
                    h4 HTML5, CSS3, JavaScript para Principiantes
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $200  
                      span.u-pull-right $15
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='1') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/ajedrez.jpg')
                  .info-card
                    h4 Juego Ajedrez Ruso. Año 1785. Piezas de Marfil
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $18000 
                      span.u-pull-right $15000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='2') Agregar Al Carrito
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/rolex.jpg')
                  .info-card
                    h4 Rolex Duque oro 24K 12 diamantes
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $65000  
                      span.u-pull-right $60000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='3') Agregar Al Carrito
                // .card
            // .row
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/harley.jpg')
                  .info-card
                    h4 Moto Harley Davidson 48 th. 750 cc 2019
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $48000  
                      span.u-pull-right $45000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='4') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/violin1.jpg')
                  .info-card
                    h4 Violin Stradivarius Dancla 150 years (Unico)
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $55000  
                      span.u-pull-right $50000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='5') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/mesapool.jpg')
                  .info-card
                    h4 Mesa de Pool Inglesa
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $10000  
                      span.u-pull-right $7000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='6') Agregar Al Carrito
                // .card
            // .row
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/golf.jpg')
                  .info-card
                    h4 Set de Golf Completo
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $4500  
                      span.u-pull-right $4000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='7') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/gibson.jpg')
                  .info-card
                    h4 Guitarra Gibson Lespole Exclusive
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $3000  
                      span.u-pull-right $2750
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='8') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/tvled.jpg')
                  .info-card
                    h4 Tv Oled 8k 65" Lg Super Ten Cores
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $2100  
                      span.u-pull-right $1900
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='9') Agregar Al Carrito
                // .card
            // .row
            .row
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/imac6.jpg')
                  .info-card
                    h4 Pc Imac 6 Pro
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $1800  
                      span.u-pull-right $1600
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='10') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/camaraCanon.jpg')
                  .info-card
                    h4 Camara Cannon Extreme Supershot 990  
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $1200 
                      span.u-pull-right $1000
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='11') Agregar Al Carrito
                // .card
              .four.columns
                .card
                  img.imagen-curso.u-full-width(src='../img/iphonex.jpg')
                  .info-card
                    h4 100 Smartphone Apple X 
                    p Juan Pedro
                    img(src='../img/estrellas.png')
                    p.precio
                      | $800  
                      span.u-pull-right $650
                    a.u-full-width.button-primary.button.input.agregar-carrito(href='#', data-id='12') Agregar Al Carrito
                // .card
            // .row
          footer#footer.footer
            .container
              .row
                .four.columns
                  nav#principal.menu
                    a.enlace(href='#') Para tu Negocio
                    a.enlace(href='#') Conviertete en Instructor
                    a.enlace(href='#') Aplicaciones Moviles
                    a.enlace(href='#') Soporte
                    a.enlace(href='#') Temas
                .four.columns
                  nav#secundaria.menu
                    a.enlace(href='#') ¿Quienes Somos?
                    a.enlace(href='#') Empleo
                    a.enlace(href='#') Blog
          script(src='/public/js/app.js')