header.bg-indigo-600.p-4 
    .container.mx-auto.flex.justify-between.item-center
        h1.text-4xl.text-white.font-serif.text-center Deluxe
            span.font-sans.text-2xl.px-2 Shop 

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="") Mis Productos
            a(href="") Mi Perfil
            a(class="bg-red-500 text-white py-2 px-10 rounded-lg" href="") Cerrar Sesión